@import "~bootstrap";

body {
    background-color: rgb(242, 243, 245);
}

h1, h2, h3, h4 {
    font-family: Oxygen, sans-serif;
    color: rgb(53, 218, 212);
    font-weight: bolder;
}

p {
    color: rgb(25, 47, 1);
}

