{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}

    <h1> Welcome </h1>
    <img src="{{ asset('build/images/—Pngtree—board announcement under construction cone_7649845.61f0ccaa.png') }}" alt="Under construct"/>
{% endblock %}